<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Id:</mat-label>
    <input type="text" matInput readonly formControlName="id" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="editableData">
    <mat-label>Title:</mat-label>
    <input
      type="text"
      matInput
      formControlName="dataTitle"
      #titleData
      required
    />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="editableData">
    <mat-label>Body:</mat-label>
    <input type="text" matInput formControlName="dataBody" #bodyData required />
  </mat-form-field>

  <div class="buttonChangesIsClear">
    <button type="submit" (click)="aapplyChanges()" mat-raised-button>
      Apply changes
    </button>
    <button mat-raised-button (click)="revertChanges(form)">
      Clear changes
    </button>
  </div>
</form>
